@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@font-face {
  font-family: 'Samarkan'; /* This is the name you'll use in your CSS */
  src: 
       url('../../public/fonts/SAMARN__.TTF') format('truetype');
  font-weight: normal; /* Adjust if the font has different weights */
  font-style: normal;  /* Adjust if the font has different styles */
}
.font-samarkan {
  font-family: 'Samarkan', serif;
  font-weight: normal;
  font-style: normal;
}
.font-serif {
  font-family: 'Playfair Display', 'Cinzel', serif;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
} 