@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.font-serif {
  font-family: 'Playfair Display', 'Cinzel', serif;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
} 